/*
    https://coolors.co/eaebed-006989-a3bac3-007090-01a7c2
*/
html, body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1024px;
    overflow-y: auto;
    min-height: 768px;
    font-family: 'Segoe UI';
    background-color: #EAEBED;
    color: #FFF;
}

.header {
    height: 30px;
    background-color: #3c454f;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    min-width: 1024px;
    left: 0;
    z-index: 2;
}

    .header .logo {
        text-decoration: none;
        color: #FFF;
        padding-left: 10px;
        line-height: 30px;
    }

.footer {
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    min-width: 1024px;
    background-color: #3c454f;
    z-index: 2;
}

    .footer .footerMenu {
        font-size: 16px;
        line-height: 60px;
        margin-left: 15px;
    }

    .footer .settings {
        font-size: 16px;
        top: -15px;
    }

        .footer .settings li {
            height: 60px;
            min-width: 60px;
            line-height: 50px;
        }

            .footer .settings li span {
                padding-left: 5px;
            }

.navMenu {
    position: fixed;
    top: 30px;
    width: 200px;
    bottom: 60px;
    background-color: #71b1d1;
}

    .navMenu .mainMenu {
        list-style: none;
        padding-left: 0px;
        margin: 0px;
        margin-top: 20px;
    }

        .navMenu .mainMenu li {
            width: 190px;
            height: 30px;
            cursor: pointer;
            padding-left: 10px;
            padding-top: 10px;
            font-size: 14px;
        }

            .navMenu .mainMenu li a {
                color: #FFF;
                text-decoration: none;
            }

            .navMenu .mainMenu li .fa {
                margin-right: 10px;
                font-size: 14px;
            }

            .navMenu .mainMenu li:hover {
                background-color: #7cc1de;
            }

#content {
    position: relative;
    margin-left: 200px;
    margin-top: 30px;
    color: #2f2828;
    z-index: 1;
    padding: 5px;
}

    #content #mainContainer {
    }

    #content .workPanel {
        position: absolute;
        top: 140px;
    }

.leftContainer {
    float: left;
    position: relative;
    width: 50%;
}

.rightContainer {
    position: relative;
    float: left;
    width: 50%;
}

ul.settings {
    position: absolute;
    list-style: none;
    font-size: 14px;
    top: -13px;
    right: 0px;
}

    ul.settings li {
        float: left;
        margin-right: 0px;
        padding: 4px;
        min-width: 30px;
        text-align: center;
        cursor: pointer;
        line-height: 20px;
    }

        ul.settings li:hover {
            background-color: #495461;
        }

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter, .fade-leave-active {
    opacity: 0
}

.child-view {
    position: absolute;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}
.fa-sum:before{
    content:"\03a3";
    font-family:sans-serif;
}