#logo-group > span {
    display: inline-block;
    height: 39px;
    float: left;
    color: #FFF;
    font-size: 18px;
}
.container.fixed-header #header {
    max-width: 1168px;
}
.login-info a:hover {
    color: #33455A;
}
.container.fixed-page-footer .page-footer {
    max-width: 1168px;
}
.templateContainer {
    position: absolute;
    right: 250px;
    left: 10px;
    top: 10px;
    bottom: 20px;
    height: 800px;
    background-color: #f6f4b7;
}
.templateContainer .sheet{
    position:absolute;
    top:10px;
    bottom:10px;
    left:10px;
    right:10px;
    background-color: #FFF;
}
.toolBox {
    position: absolute;
    width: 220px;
    right: 20px;
    height: 800px;
}