<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportBuilder</title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="leftContainer">
            <a href="/" class="logo">
                <i class="fa fa-file"></i>
                Report Builder
            </a>
        </div>
        <div class="rightContainer">
            <ul class="settings">
                <li>
                    <a>
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li style="margin-right:20px">
                    <a>
                        <i class="fa fa-user"></i>
                        Can PERK
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navMenu">

    </div>
    <div id="content">
        <div id="mainContainer">

            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <div class="leftContainer">
            <a class="footerMenu">
                <i class="fa fa-bars"></i>
                Menu
            </a>
        </div>
        <div class="rightContainer">
            <ul class="settings">
                <li>
                    <a>
                        <i class="fa fa-warning"></i>
                        <span>2</span>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-info"></i>
                        <span>4</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="~/dist/build.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
