<!DOCTYPE html>
<html class="smart-style-2" style="background-image: url('/images/graphy.png');">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReportBuilder</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/smartadmin-skins.min.css" rel="stylesheet" />
    <link href="~/css/smartadmin-production.min.css" rel="stylesheet" />
    <link href="~/css/smartadmin-production-plugins.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="desktop-detected pace-done fixed-header fixed-page-footer container smart-style-2">
    <header id="header">
        <div id="logo-group">
            <span id="logo"><i class="fa fa-file-text-o"></i>&nbsp;Report Builder </span>
        </div>
    </header>
    <aside id="left-panel">
        <div class="login-info">
            <span>
                <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                    <img src="~/images/profile.png" alt="me" class="online">
                    <span>
                        Can PERK
                    </span>
                </a>

            </span>
        </div>
        <nav>
            <ul style="">
                <li class="active">
                    <a href="/" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Main Page</span></a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-lg fa-fw fa-pencil"></i> <span class="menu-item-parent">Templates</span></a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">Settings</span></a>
                </li>
            </ul>
        </nav>
    </aside>
    <div id="main" role="main">
        <div id="ribbon">
            <ol class="breadcrumb">
                <li>Templates</li>
                <li>New Template</li>
            </ol>
        </div>
        <div id="content">
            @RenderBody()
        </div>

    </div>
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">Report Builder<span class="hidden-xs"> - Creating Dynamic Reports</span> © 2018</span>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/app.config.js"></script>
    <script src="~/js/app.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
