<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report Builder Api</title>
    <style>
        html, body, ul {
            margin: 0;
            padding: 0;
        }

        body {
            background: #3c454f;
            height: 100%;
            width: 100%;
        }

        main {
            display: block;
            font-family: 'Noto Sans';
            left: 50%;
            position: absolute;
            top: 45%;
            transform: translate(-50%,-50%);
            width: 100%;
        }

        h1 {
            color: #71b1d1;
            display: block;
            margin: 0 auto;
            text-align: left;
            width: 600px;
        }

        hr {
            border: 0;
            border-top: 1px solid #658389;
            opacity: .4;
            width: 600px;
        }

        ul {
            display: block;
            margin: 0 auto;
            width: 600px;
        }

        li {
            color: #C99664;
            display: inline-block;
            font-size: 1.2em;
            line-height: 1.5;
            list-style: none;
            margin: 5px;
        }

        a {
            color: #C97549;
            text-decoration: none;
            transition: .2s;
        }

            a:hover {
                color: #666666;
            }
    </style>
</head>
<body>
    <main>
        <h1>Report Builder Api is running</h1>
        <hr>
        <ul>
            <li>You can use swagger to see the api documentation from</li>
            <li><a href="https://github.com">here</a></li>
        </ul>
        <hr>
    </main>
</body>
</html>
